<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.app.learn"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.Translucent"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".RecyclerViewActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Translucent">
        </activity>
        <activity android:name=".SharedActivity">
        </activity>

        <service android:name=".Service.LearnService"/>

        <activity
            android:name=".CircularAnimActivity"
            android:label="@string/title_activity_circular_anim"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".PathActivity">
        </activity>
    </application>

</manifest>